<!DOCTYPE html>
<html lang="zxx">

@{
    await Html.RenderPartialAsync("_Head");
}

<body>
    <!-- Page Preloder -->
    @{
        await Html.RenderPartialAsync("_PreLoader");
    }

    <!-- Header Section Begin -->
    @{
        await Html.RenderPartialAsync("_Header");
    }
    <!-- Header End -->

    @RenderBody()

    <!-- Partner Logo Section Begin -->
   @{
        await Html.RenderPartialAsync("_PartnerLogo");
    }
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    @{
        await Html.RenderPartialAsync("_Footer");
    }
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    @{
        await Html.RenderPartialAsync("_Scripts");
    }

</body>

</html>