<!DOCTYPE html>
<html lang="en">
@{
    await Html.RenderPartialAsync("Head");
}

<body>
    @{
        await Html.RenderPartialAsync("Header");
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @{
        await Html.RenderPartialAsync("Footer");
    }

    @{
        await Html.RenderPartialAsync("Scripts");
    }
</body>

</html>
